:root{
    --container-width: 600px;
}
*,*:focus,*:hover{
    outline:none;
}
body{
    height: 100vh;
    font-family: "Permanent Marker", cursive;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #0F0A0A;
    color: #F5EFED;
}
h1{
    margin: 0;
}
.final-msg{
    margin: 10px;
}
.container{
    background-color: #BDBF09;
    height: calc(var(--container-width) + 400px);
    width: calc(var(--container-width) + 400px);
    margin: 30px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.grid{
    width: var(--container-width);
    height: var(--container-width);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F5EFED;
}
.cell{
    box-sizing: border-box;
    width: calc(var(--container-width)/3);
    height: calc(var(--container-width)/3);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.brd-bottom{
    border-bottom: 2px solid black;
}
.brd-top{
    border-top: 2px solid black;
}
.brd-left{
    border-left: 2px solid black;
}
.brd-right{
    border-right: 2px solid black;
}
.cross{
    background-color: #497cca;
}
.circle{
    background-color: #af3838;
}
button{
    margin-top: 20px;
    justify-self: center;
    color: #F5EFED;
    background-color:#af3838;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 50px;
}
.dialog-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dialog-form input{
    width: 200px;
    height: 20px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black'
}
dialog::backdrop{
    background: rgba(0, 0, 0, 0.6); 
}
.dialog-form input:focus{
    border: 2px solid #1ed32d;
}
.dialog-btn{
    background-color: #1ed32d;
}